.reset-password-container {
    max-width: 400px;
    margin: auto;
    padding: 20px;
    border: 1px solid #ccc;
    border-radius: 5px;
    background-color: #f9f9f9;
  }
  
/* Estilo para el formulario */
.reset-password-container form {
    display: flex;
    flex-direction: column;
    align-items: center;
  }
  
  /* Estilo para los campos del formulario */
  .reset-password-container form div {
    margin-bottom: 15px;
  }
  
  .reset-password-container form label {
    margin-bottom: 5px;
  }
  
  .reset-password-container form input[type="password"],
  .reset-password-container form input[type="text"] {
    padding: 8px;
    width: 250px; /* Ancho del campo de entrada */
    border: 1px solid #ccc;
    border-radius: 4px;
    font-size: 16px;
  }
  
  /* Estilo específico para el campo de código */
  .reset-password-container form input[type="text"] {
    /* Aplica el mismo estilo que a los campos de contraseña */
  }
  
  .reset-password-container form button {
    padding: 10px 20px;
    background-color: #007bff;
    color: white;
    border: none;
    border-radius: 4px;
    cursor: pointer;
    font-size: 16px;
  }
  
  /* Estilo para los mensajes de error o éxito */
  .error-message,
  .success-message {
    margin-top: 10px;
    color: red; /* Color para mensajes de error */
    /* Otros estilos necesarios */
  }
  
  .success-message {
    color: green; /* Color para mensajes de éxito */
  }